
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Oregano&display=swap');



/* ScrolBar  */
.scrollbar {

  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover {

  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar Style */



#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #BFBFBF;
}

/* Scrollbar End */









.main-menu:hover,
nav.main-menu.expanded {
  width: 200px;
  overflow: hidden;
  opacity: 1;

}

.main-menu {
  background: #ffffff;
  position: absolute;
  top: 70px;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 55px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 1;
}

.main-menu .scrollbar ul li a:hover {
  background-color: #f06d03;
  color: #fff;
  
}
.active  {
  background-color: #f06d03;  color: #fff;
}
.active span {
  
  color: #fff;
}
.active  i {
  color: #fff;

}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;



}

.main-menu li>a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #8a8a8a;
  font-size: 13px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .14s linear;
  transition: all .14s linear;
  font-family: 'Strait', sans-serif;
  border-top: 1px solid #f2f2f2;

  /* text-shadow: 1px 1px 1px #fff; */
}



.main-menu .nav-icon {

  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;

}

.main-menu .nav-text {

  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  /* font-family: 'Capriola', sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
}







@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


/* .side-menu-bar:hover {
  width: 50%;
  margin-left: 0;
  margin-right: -20%;

} */

/* side menu end  */
